main {
    padding: 0px 10%;
    display: grid;
    grid-template-columns: 60% 40%;
    gap:5%
}

div {
    border: 2px solid gray;
}

#collection {
    grid-area: 1 / 1 / span 1 / span 2;
    width: 100%;
    aspect-ratio: 4 / 1;
    overflow: hidden;
    margin-bottom: 20px;
}
#collection:active {
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    aspect-ratio: initial;
    position: fixed;
    background-color: rgba(208, 208, 208, 0.5);
}
#collection:active img {
    transform: none;
    width: 95%;
}

#collection img {
    width: 100%;
    transform: translateY(-80px);
}

#story {
    transform: translateY(50px);
    padding: 10px;
}

#story p {
    text-align: left;
}

#story img {
    width: 40%;
    float: left;
    margin-right: 10px;
}

#video {
    transform: translateY(50px);
    width: 100%;
    aspect-ratio: 16 / 9;
    position: relative;
    align-self: center;
}

#hover {
    font-weight: 700;
    text-decoration: underline;
    color: black;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#data {
    padding: 10px;
    grid-area: 3 / 1 / span 1 / span 2;
    transform: translateY(20px);
    margin-bottom: 40px;
}

@media screen and (max-width:560px) {
    #story {
        grid-area: 2 / 1 / span 1 / span 2;
    }
    #video {
        grid-area: 3 / 1 / span 1 / span 2;
        width:80%;
        margin: 0 10%;
        margin-top: -30px;
    }
    #data {
        grid-area: 4 / 1 / span 1 / span 2;
        margin-bottom: 170px;
    }
}