@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: rgb(208, 208, 208);
}

main {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: sans-serif;
}

header {
    display: block;
    grid-template-columns: repeat(9, 1fr);
    width: 100%;
    margin-bottom: 50px;
}

#logo {
    height: 40px;
    width: 40px;
}

header h1 {
    font-size: 2.75em;
    font-family: 'Orbitron';
}

.checkerboard {
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(3, 60px);
    width: 100%;
}

.checkerboard a {
    text-decoration: none;
    color:black;
    font-family: 'Orbitron';
}

.checkerboard a:hover {
    text-decoration: underline;
}

.checkerboard div {
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.checkerboard div:nth-child(odd) {
    background-color: #00941e;
}

.checkerboard div:nth-child(even) {
    background-color: #3d6eff;
}

.checkerboard a{
    font-size: 1.15em;
    display: block;
    font-weight: bold;
}

.checker {
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(1, 60px);
    width: 100%;
}

.checker div {
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.checker div:nth-child(odd) {
    background-color: #FF5900;
}

.checker div:nth-child(even) {
    background-color: #ff0000;
}

.checker a {
    background-color: #ff0000;
    font-size: 1.15em;
    display: block;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: black;
}

.box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: black;
    grid-gap: 4px;
    padding: 4px;
    width: 45%;
    aspect-ratio: 1 / 1 ;
    margin-top: 80px;
    margin-bottom: 100px;
}

.box a {
    text-decoration: none;
    color: black;
}

#red1 {
    background-color: #ff0000;
}

#yellow {
    background-color: #ffcc00;
}

#orange {
    background-color: #FF5900;
}

#blue1 {
    background-color: #3d6eff;
}

#white {
    background-color: #FFFFFF;
}

#green1 {
    background-color: #00941e;
}

#green2 {
    background-color: #00941e;
}

#red2 {
    background-color: #ff0000;
}

#blue2 {
    background-color: #3d6eff;
}

@media screen and (max-width: 560px) {
    .checker, .checkerboard {
        grid-template-columns: repeat(7, 1fr);
    }
    .smallHide {
        display: none !important;
    }
    .checkerboard button {
        margin: 16px 2.5%;
    }
    .box {
        width: 80%
    }
}